<%- model_class = Parkinglot -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @parkinglot.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @parkinglot.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:addressreference) %>:</strong></dt>
  <dd><%= @parkinglot.addressreference %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pricinghour) %>:</strong></dt>
  <dd><%= @parkinglot.pricinghour %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pricingday) %>:</strong></dt>
  <dd><%= @parkinglot.pricingday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:businesshours) %>:</strong></dt>
  <dd><%= @parkinglot.businesshours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:camera) %>:</strong></dt>
  <dd><%= @parkinglot.camera %></dd>
  <dt><strong><%= model_class.human_attribute_name(:security) %>:</strong></dt>
  <dd><%= @parkinglot.security %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @parkinglot.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ubigeo_id) %>:</strong></dt>
  <dd><%= @parkinglot.ubigeo_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nearby_id) %>:</strong></dt>
  <dd><%= @parkinglot.nearby_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              parkinglots_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_parkinglot_path(@parkinglot), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              parkinglot_path(@parkinglot),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
