<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "pag1.jpg", html: { alt: "rest_slider1" } %>
      <div class="carousel-caption">
        <h3>Our parking</h3>
        <p>The best for you</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "pag3.jpg", html: { alt: "rest_slider2" } %>
      <div class="carousel-caption">
        <h3>Our parking</h3>
        <p>Best security</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "pag4.jpg", html: { alt: "rest_slider3" }%>
      <div class="carousel-caption">
        <h3>Our service</h3>
        <p>Best quality</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "pag5.jpg", html: { alt: "rest_slider4" }%>
      <div class="carousel-caption">
        <h3>Our service</h3>
        <p>Best quality</p>
      </div>
    </div>

  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>

<div class="jumbotron">
  <h1>Welcome</h1>
  <p>It is a pleasure to have you at our site</p>
  <p><a class="btn btn-primary btn-lg" href=<%= pages_about_us_path %> role="button">Learn more</a></p>
</div>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Search <span class="text-muted"></span></h2>
          <p class="lead">Search and compare all available parking options and prices at thousands of parking lots and garages in 40 cities in real-time.</p>
        </div>
        <div class="col-md-5">
             <%= image_tag("03search.png", class:"img-circle", align:"right", alt:"Generic placeholder image" ,width:"140" ,height:"140")%>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Book <span class="text-muted"></span></h2>
          <p class="lead">Pre-purchase the perfect spot and have a guaranteed space waiting for you when you need it.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
             <%= image_tag("01map.png", class:"img-circle", align:"left", alt:"Generic placeholder image" ,width:"140" ,height:"140")%>
       </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Park Happy <span class="text-muted"></span></h2>
          <p class="lead">Redeem your purchase seamlessly at your selected location! It’s that easy. Save time and money with hassle-free parking.</p>
        </div>
        <div class="col-md-5">
             <%= image_tag("02park.png", class:"img-circle", align:"right", alt:"Generic placeholder image" ,width:"140" ,height:"140")%>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

