<%= content_for :header_title do %>
   <h1>Busqueda de Estacionamiento</h1>
<% end %>
<%= content_for :header_sub_title do %>
    
<% end %>


    <div class="col-md-6">
    <div class="field">
          <label>Distrito</label> <br />
            <%= collection_select(:lang_id, 0, Ubigeo.all, :id, :district) %> 
    </div>
    
        <div class="field">
          <label>Cerca de: </label> <br />
            <%= collection_select(:lang_id, 0, Nearby.all, :id, :name) %> 
    </div>


    <strong>Otras opciones:</strong>
    
    <div class="checkbox">
            <label for="camera">
            <input name="camera" type="checkbox"  id="camera">   
            Con cámaras de seguridad
            </label>
    </div>
    <div class="checkbox">
        <label for="Security Agent">
        <input name="Security Agent" type="checkbox"  id="Security Agent">   
        Con agentes de seguridad
        </label>
    </div>
    
</div> 
  
    <div class="col-md-6">
    <div class="form-group">
    <label class="" for="date">Fecha</label>
    <input class="form-control" type="date" name="date" id="date" required="true" value="<%= Date.today  %>">
    </div>   

    <div class="form-group">
    <label class="" for="start_time">Desde</label>
    <input class="form-control" type="time" name="start_time" id="start_time" required="true" value="08:00">
    </div>    
    
    <div class="form-group">
    <label class="" for="end_time">Hasta</label>
    <input  class="form-control" type="time" name="end_time" id="end_time" required="true" value="10:00">
    </div>
<button type="submit" class="btn btn-lg btn-info" >Search</button>

<a href="/reservations/new" class="btn btn-lg btn-info" >Reservations</a>

</div>