<p id="notice"><%= notice %></p>

<h1>Listing Ubigeos</h1>

<table>
  <thead>
    <tr>
      <th>District</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ubigeos.each do |ubigeo| %>
      <tr>
        <td><%= ubigeo.district %></td>
        <td><%= ubigeo.department %></td>
        <td><%= link_to 'Show', ubigeo %></td>
        <td><%= link_to 'Edit', edit_ubigeo_path(ubigeo) %></td>
        <td><%= link_to 'Destroy', ubigeo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ubigeo', new_ubigeo_path %>
