<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @ubigeo.district %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ubigeo.department %>
</p>

<%= link_to 'Edit', edit_ubigeo_path(@ubigeo) %> |
<%= link_to 'Back', ubigeos_path %>
